#Notes-contnr {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    align-content: center;
    min-width: 100%;
    max-width: 100%;
    overflow-y: scroll;
}